* {
    padding: 0;
    margin: 0;
}

a {
    color: #000 !important;
}


.app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app__airbnb {
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.app__reconnaissance {
    height: 300px;
    width: 300px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

a {
    color: #000;
}